extends default

block content
  video.background(src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/HoeQ7SlTitd6nezi/videoblocks-beauty-portrait-of-mulatto-woman-posing-and-touching-her-face-with-perfect-healthy-skin-and-attractive-smile_sqnmxmrz8__f4e9f528bef6b0111e8af244e334d31b__P360.mp4" autoplay loop playsinline muted)
  
  .container
    .content
      h1.title Aging is a fact of Life. Looking your age is not.
      p.description Reverse the signs of aging by improving the inner structure of your skin. Bye wrinkles. Ciao Sun Damage
      a.learn-more--btn(href="/products") Learn More


